{% extends 'blog/blog_base.html' %}

{% block title %}{% endblock %}

{# If you want to handle 'header' 'main' 'footer' by yout self use 'container' block. #}

{% block blog-header %}
	<h3>{{ filter_name }} list</h3>
{% endblock %}

{% block blog-container  %}
	{% if filter_list.count > 0%}
		{% for filter in filter_list%}
<article>
	<section>
	<h4><a href="{% url 'oblog:filter_posts' filter_name=filter_name value=filter.slug %}">{{ filter.name }}</a></h4>
	</section>
</article>
		{% endfor %}	
	{% else %}
<article>
	<section>
		<h4>No {{ filter }} yet</h4>
	</section>
</article>
	{% endif %}
{% endblock %}

