{% extends '../base.html' %}

{% block title %}{{ flatpage.title }}{% endblock %}

{# If you want to handle 'header' 'main' 'footer' by yout self use 'container' block. #}

{% block main %}
<article>
	{{ flatpage.content }}
</article>
{% load blog_tags %}
<article class="title">
	Lo más reciente:
</article>
<article>
	<header>
		<a href="" class="title">Programación</a>
	</header>
	{% posts_in_category 'programacion' 3 as posts %}
	{% if posts.count > 0%}
		{% for post in posts%}
	{% include '../fragments/post_preview.html' %}
		{% endfor %}
	{% else %}
	<section class="full">
	<h4>Sin publicaciones...</h4>
	</section>
	{% endif %}
</article>
<article>
	<section class="half">
		<header>
			<a href="" class="title">Geek</a>
		</header>
	{% posts_in_category 'geek' 3 as posts %}
	{% if posts.count > 0%}
		{% for post in posts%}
	{% include '../fragments/post_minimal.html' %}
		{% endfor %}
		{% for post in posts%}
	{% include '../fragments/post_minimal.html' %}
		{% endfor %}	
	{% else %}
		<section class="full">
			<h4>Sin publicaciones...</h4>
		</section>
	{% endif %}
	</section>
	<section class="half">
		<header>
			<a href="" class="title">Literatura</a>
		</header>
	{% posts_in_category 'literatura' 3 as posts %}
	{% if posts.count > 0%}
		{% for post in posts%}
	{% include '../fragments/post_minimal.html' %}
		{% endfor %}
	{% else %}
		<section class="full">
			<h4>Sin publicaciones...</h4>
		</section>
	{% endif %}
	</section>
</article>
{% endblock %}

{% block extra_styles %}{% endblock %}
{% block extra_scripts %}{% endblock %}